name: CI

on:
  push:
    branches:
      - main
    tags:
      - "v*"
  pull_request:
    branches:
      - main
  workflow_dispatch:

jobs:
  # Check linting, formating, types, etc.
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with:
        python-version: "3.14"
    - uses: extractions/setup-just@v3
    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip wheel
        pip install prek
    - name: Lint
      run: just lint